<div  >
   <!-- Twoway-binding-->
  <label for="name">Vorname: </label>

  <input type="text" placeholder="Gib dein Vorname ein!" [(ngModel)]="firstname" required minlength="3">

  <label for="name">Nachname: </label>
  <input type="text" placeholder="Gib dein Vorname ein!" [(ngModel)]="lastname">

  <p>Hallo {{firstname}} {{lastname}} =)</p>

  <p>------------------------------------------------------------------------------------</p>
   <!-- Twoway-binding Object zugreifen-->
  <pre>{{person | json}}</pre>
  <p>{{person.name}}</p>

  <p>------------------------------------------------------------------------------------</p>
   <!-- *ngFor / ngIf-->
  <ul>
    <li *ngFor="let name of names">{{name}}</li>
  </ul>

  <ul>
    <li *ngFor="let name of names let i=index">
      <ng-container *ngIf="i ===1">Zweiter Name: {{name}}</ng-container>
    </li>
  </ul>
  <ul>
    <li>Zweiter Name: {{secondName}}</li>
  </ul>
  <p>------------------------------------------------------------------------------------</p>
   <!-- Total Price berechnen-->
  <p>Quantity:</p>
  <input type="number" [(ngModel)]="quantity" />
  <p>Preis:</p>
  <input type="number" [(ngModel)]="price" />

  <p>Total Price: {{totalPrice}}</p>
  <button (click)="resetForm()" [disabled]="isResetDisabled()" ><b>Reset</b></button>
  <button (click)="resetForm()" [disabled]="!quantity && !price" >Reset</button>
</div>
<p>------------------------------------------------------------------------------------</p>
<!-- formGroup -->
<form [formGroup]="actorForm" >
  <label>Actor Name:</label>
<input  formControlName="actorName"/></form>
@if (actorForm.invalid && (actorForm.dirty || actorForm.touched)) {
  <div (click)="alert()"></div>
    }

<p>------------------------------------------------------------------------------------</p>
      <!-- Show/Hide div -->
<button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
<br>
<div *ngIf="show">Hello World</div>

<p>------------------------------------------------------------------------------------</p>
<!-- Select Options -->
 <select [(ngModel)]="selectedValue">
     <option *ngFor="let item of items;" [value]="item.name">{{item.name}}</option>
 </select>
 <p>------------------------------------------------------------------------------------</p>
<!-- Cupcake Range Rezept  -->
<label>#of Cupcake</label>
<input type="range" min="10" max="100" step="10" [value] = countCake() (input)="update($event)">
<p>Butter: {{butter()}} cups(s)</p>
<p>Sugar: {{sugar()}} cups(s)</p>
<p>Flour: {{flour()}} cups(s)</p>

<button (click)="onComputed()">Klick</button>
